<app-page-title title="Cotización" [children]="[{title: 'Cotización'}]"></app-page-title>
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-1">

        <!-- Shopping Cart-->
        <div class="table-responsive shopping-cart">
          <table class="table">
            <thead>
              <tr>
                <th>Producto</th>
                <th class="text-center">Cantidad</th>
                <th *ngIf="user && user['role'] === 'PROVIDER'" class="text-center">Price</th>
                <th *ngIf="user && user['role'] === 'PROVIDER'" class="text-center">Subtotal</th>
                <th class="text-right" *ngIf="!readOnly || user && user['role'] === 'PROVIDER'">
                  <button class="btn btn-sm btn-outline-danger" (click)="onClearCart($event)">Limpiar lista</button>
                </th>
              </tr>
            </thead>

            <tbody *ngIf="items.length; else noItemsInCart">
              <tr *ngFor="let item of items">
                <td>
                  <div class="product-item">
                    <a class="product-thumb" routerLink="/products/{{item.product.id}}">
                      <img src="https://firebasestorage.googleapis.com/v0/b/bargain-online.appspot.com/o/{{item.product.imageURLs}}?alt=media"
                           alt="Product">
                    </a>
                    <div class="product-info">
                      <h4 class="product-title">
                        <a routerLink="/products/{{item.product.id}}">{{item.product.name}}</a>
                      </h4>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <div class="text-center text-lg text-medium" *ngIf="user && user['role'] === 'PROVIDER'">
                    {{item.amount}}
                  </div>
                  <div class="count-input" *ngIf="user && user['role'] === 'CLIENT'">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" (click)="decreaseAmount(item)">-</button>
                      </div>
                      <input type="text" class="form-control text-center" placeholder="" [(ngModel)]="item.amount" (blur)="checkAmount(item)">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="increaseAmount(item)">+</button>
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="user && user['role'] === 'PROVIDER'" class="text-center text-lg text-medium">
                  <input type="text" [(ngModel)]="item.product.price" (blur)="updatePrice(item, $event)">
                  <!--<app-price [product]="item.product"></app-price>-->
                </td>
                <td *ngIf="user && user['role'] === 'PROVIDER'" class="text-center text-lg text-medium">
                  {{ (item.product.price * item.amount) | currency }}
                </td>
                <td class="text-right" *ngIf="!readOnly || user && user['role'] === 'PROVIDER'">
                  <a class="remove-from-cart"
                    href="#"
                    data-toggle="tooltip"
                    title="Remove item"
                    (click)="onRemoveItem($event, item)">
                    <i class="icon-cross"></i>
                  </a>
                </td>
              </tr>
            </tbody>

            <ng-template #noItemsInCart>
              <tbody>
                <tr>
                  <td colspan="5">No hay productos en la cotización</td>
                </tr>
              </tbody>
            </ng-template>

          </table>
        </div>


        <div class="shopping-cart-footer" *ngIf="user && user['role'] === 'PROVIDER'">
          <div class="column text-lg">Total:
            <span class="text-medium">{{ total | currency }}</span>
          </div>
        </div>

        <div class="shopping-cart-footer">
          <div class="column" *ngIf="!readOnly">
            <a class="btn btn-outline-secondary" routerLink="/products">
              <i class="icon-arrow-left"></i>&nbsp;Buscar productos</a>
          </div>
          <div class="column" *ngIf="!readOnly">
            <a class="btn btn-success" href="javascript:void(0)" (click)="sendRequest()">Enviar Cotización</a>
          </div>

          <div class="column" *ngIf="user && user['role'] === 'PROVIDER'">
            <a class="btn btn-success" href="javascript:void(0)" (click)="sendOffer()">Enviar Oferta</a>
          </div>
        </div>

      </div>
