<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li routerLinkActive="active">
            <a routerLink="/" href="">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/bargain-online.appspot.com/o/product-images%2Fbargain.png?alt=media&token=de80e770-1836-4f73-bed9-64a967fab688"
                width="150">
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/products" href="">
                <span>Productos</span>
            </a>
        </li>
        <li routerLinkActive="active" *ngIf="user && user['role'] === 'CLIENT'">
            <a routerLink="/account/requests" href="">
                <span>Mis Cotizaciones</span>
            </a>
        </li>

      <li routerLinkActive="active" *ngIf="user && user['role'] === 'PROVIDER'">
        <a routerLink="/cart" href="">
          <span>Mis Ofertas</span>
        </a>
      </li>

      <li routerLinkActive="active" *ngIf="user && user['role'] === 'PROVIDER'">
        <a routerLink="/cart" href="">
          <span>Ofertas</span>
        </a>
      </li>

      <li routerLinkActive="active" *ngIf="user && user['role'] === 'ADMIN'">
        <a routerLink="/cart" href="">
          <span>Estadisticas</span>
        </a>
      </li>

        <li routerLinkActive="active" *ngIf="user && user['role'] === 'PROVIDER'">
            <a routerLink="/admin/add" href="">
                <span>Agregar producto</span>
            </a>
        </li>
    </ul>
</nav>
