  <app-page-title title="Login / Registrar Cuenta" [children]="[{title: 'Account', link: '/account'}, {title: 'Login / Registrar'}]"></app-page-title>

  <!-- Page Content-->
  <div class="container padding-bottom-3x mb-2">
    <div class="row">
      <div class="col-md-6">
        <form class="login-box" [formGroup]="loginForm" (ngSubmit)="onLogin()">

          <h3 class="margin-bottom-1x">Login</h3>
          <div class="form-group input-group" [ngClass]="{'has-danger': !loginForm.get('email').valid && loginForm.get('email').touched}">
            <input class="form-control" formControlName="email" type="email" placeholder="Email" required="">
            <span class="input-group-addon">
              <i class="icon-mail"></i>
            </span>
            <div *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="form-control-feedback">
              Digite un email valido
            </div>
          </div>
          <div class="form-group input-group" [ngClass]="{'has-danger': !loginForm.get('password').valid && loginForm.get('password').touched}">
            <input class="form-control" formControlName="password" type="password" placeholder="Contraseña" required="">
            <span class="input-group-addon">
              <i class="icon-lock"></i>
            </span>
            <div *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="form-control-feedback">
              La contraseña no puede estar vacía
            </div>
          </div>

          <div class="text-center text-sm-right">
            <button [disabled]="!loginForm.valid"class="btn btn-primary margin-bottom-none" type="submit">Ingresar</button>
          </div>
        </form>
      </div>

      <div class="col-md-6">
        <div class="padding-top-3x hidden-md-up"></div>
        <h3 class="margin-bottom-1x">Registrate en nuestro sistema de Bargain-Online</h3>
        <p>Qué tipo de usuario eres, Cliente o Proveedor ?</p>
        <form [formGroup]="registerForm" class="row" (ngSubmit)="onRegister()">

          <div class="col-sm-12">
            <div class="form-group"
                 [ngClass]="{'has-danger': !registerForm.get('userType').valid && registerForm.get('userType').touched}"
            >

              <input type="radio" id="reg-client" name="userType" formControlName="userType" value="1" (click)="userTypeEvent(1)">
              <label for="reg-client">Cliente</label>
              <label></label>
              <input type="radio" id="reg-provider" name="userType" formControlName="userType" value="2" (click)="userTypeEvent(2)">
              <label for="reg-provider">Proveedor</label>
              <label></label>
              <input type="radio" id="reg-ext_provider" name="userType" formControlName="userType" value="3" (click)="userTypeEvent(3)">
              <label for="reg-ext_provider">Proveedor Externo</label>
            </div>
          </div>

          <div class="col-sm-6" *ngIf="userType ===1">
            <div class="form-group">
              <label for="reg-name">Nombre</label>
              <input class="form-control" formControlName="name" type="text" id="reg-name" required="">
            </div>
          </div>

          <div class="col-sm-6" *ngIf="userType ===1">
            <div class="form-group">
              <label for="reg-ln">Apellidos</label>
              <input class="form-control" formControlName="lastName" type="text" id="reg-ln" required="">
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group" [ngClass]="{'has-danger': !registerForm.get('email').valid && registerForm.get('email').touched}">
              <label for="reg-email">E-mail</label>
              <input class="form-control" formControlName="email" type="email" id="reg-email" required>
            </div>
          </div>

          <div class="col-sm-12" *ngIf="userType">
            <div class="form-group" [ngClass]="{'has-danger': !registerForm.get('address').valid && registerForm.get('address').touched}">
              <label for="reg-address">Dirección</label>
              <input class="form-control" formControlName="address" type="text" id="reg-address" required>
            </div>
          </div>

          <div class="col-sm-12" *ngIf="userType !== 1">
            <div class="form-group" [ngClass]="{'has-danger': !registerForm.get('business_Name').valid && registerForm.get('business_Name').touched}">
              <label for="reg-bname">Razón Social</label>
              <input class="form-control" formControlName="business_Name" type="text" id="reg-bname" required>
            </div>
          </div>

           <div class="col-sm-6" *ngIf="userType !== 1">
            <div class="form-group">
              <label for="reg-nit">Nit</label>
              <input class="form-control" formControlName="nit" type="number" id="reg-nit" required>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="reg-phone">Teléfono</label>
              <input class="form-control" formControlName="phone" type="number" id="reg-phone" required>
            </div>
          </div>

          <div class="col-sm-12" *ngIf="userType !== 1">
            <div class="form-group" [ngClass]="{'has-danger': !registerForm.get('email').valid && registerForm.get('email').touched}">
              <label for="representative">Representante</label>
              <input class="form-control" formControlName="representative" type="text" id="representative" required>
            </div>
          </div>

            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-danger': !registerForm.get('password').valid && registerForm.get('password').touched}">
                <label for="reg-pass">Contraseña</label>
                <input class="form-control" formControlName="password" type="password" id="reg-pass" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-danger': !registerForm.get('confirmPassword').valid && registerForm.get('confirmPassword').touched}">
                <label for="reg-pass-confirm">Confirmar contraseña</label>
                <input class="form-control" formControlName="confirmPassword" type="password" id="reg-pass-confirm" required>
              </div>
            </div>

          <div class="col-12 text-center text-sm-right">

            <div class="form-group has-danger">
              <div class="form-control-feedback">
                {{ registerErrors }}
              </div>
            </div>

            <button [disabled]="!registerForm.valid" class="btn btn-primary margin-bottom-none" type="submit">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
