<div class="product-card" [ngClass]="{'product-list': displayMode === 'list'}">
  <!--<div *ngIf="product.reduction" class="product-badge text-danger">{{ product.reduction }}% Off</div>-->
  <a class="product-thumb" [ngClass]="{'loading': imageLoading}" routerLink="/products/{{product.id}}">
    <img [hidden]="imageLoading" (load)="onImageLoad()"
         src="https://firebasestorage.googleapis.com/v0/b/bargain-online.appspot.com/o/{{product.imageURLs}}?alt=media"
         alt="{{product.name}}"/>
  </a>
  <div class="product-info">
    <h3 class="product-title">
      <a routerLink="/products/{{product.id}}">{{product.name}}</a>
    </h3>
    <h4 class="product-price"><app-price [product]="product"></app-price></h4>
    <p *ngIf="displayMode === 'list'" class="hidden-xs-down">{{product.description}}</p>
    <div class="product-buttons">
      <button class="btn btn-outline-primary btn-sm" (click)="onAddToCart()" *ngIf="user && user['role'] === 'CLIENT'">
        Agregar a Cotización
      </button>
      <button *ngIf="user && user['role'] === 'PROVIDER'" class="btn btn-primary btn-sm" routerLink="/provider/edit/{{product.id}}">
        Editar Producto
      </button>
    </div>
  </div>
</div>
