<app-page-title title="Add/Edit Product" [children]="[{title: 'Add/Edit Product'}]"></app-page-title>

<div class="container">
  <div class="row mb-5">
    <div class="col-lg-8">
      <h2 class="margin-bottom-1x">Agregar/Editar Producto</h2>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label class="col-2 col-form-label" for="name">Nombre de producto</label>
          <div class="col-10">
            <input class="form-control form-control-square form-control-sm" formControlName="name" type="text" id="name" value="">
            <div *ngIf="!productForm.get('name').valid && productForm.get('name').touched" class="form-control-feedback">
              <!-- validation message -->
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="name">Catalogo</label>
          <div class="col-10">
            <select id="idCatalogue" class="form-control form-control-square form-control-sm" formControlName="idCatalogue">
              <option [value]="catalogue.Id" *ngFor="let catalogue of catalogues">{{catalogue.Name}}</option>
            </select>
            <div *ngIf="!productForm.get('idCatalogue').valid && productForm.get('idCatalogue').touched" class="form-control-feedback">
              <!-- validation message -->
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="description">Descripción</label>
          <div class="col-10">
            <textarea class="form-control form-control-square form-control-sm" formControlName="description" id="description" rows="5">
            </textarea>
            <div *ngIf="!productForm.get('description').valid && productForm.get('description').touched" class="form-control-feedback">
              Shucks, enter a description for your product.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="photos">Adjuntar Imagen</label>
          <div class="col-10">
            <input class="" type="file" id="photos" #photos>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-10" *ngIf="product && product.imageURLs.length">
            <img *ngIf="product.imageURLs.includes('product-images')" src="https://firebasestorage.googleapis.com/v0/b/bargain-online.appspot.com/o/{{product.imageURLs}}?alt=media width="450""
                 alt="Product">
            <img *ngIf="!product.imageURLs.includes('product-images')" src="{{product.imageURLs}}" alt="Product" width="450">
          </div>
        </div>


        <div class="form-group row">
          <label class="col-2 col-form-label" for="price">Precio Actual</label>
          <div class="col-10">
            <input class="form-control form-control-square form-control-sm" formControlName="price" type="number" id="price" value="">
            <div *ngIf="!productForm.get('price').valid && productForm.get('price').touched" class="form-control-feedback">
              <!-- validation message -->
            </div>
          </div>
        </div>

        <div *ngIf="fileUploadService.percentage$ | async as pct" class="progress margin-bottom-1x">
          <div class="progress-bar" role="progressbar" [style.width.%]="pct" aria-valuenow="pct | number: '1.0-0'" aria-valuemin="0"
            aria-valuemax="100">{{pct | number:'1.0-0'}}%</div>
        </div>

        <div class="row mb-5">
          <div class="col text-right">
            <button [disabled]="(mode === 'add')" class="btn btn-danger" type="button" (click)="onDelete()">Eliminar Producto</button>
            <button [disabled]="productForm.invalid" class="btn btn-primary" type="submit">Guardar Producto</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
