<app-page-title [title]="router.url !== '/account/client' ? 'Panel Proveedor' : 'Panel Cliente'"
                [children]="[{title: 'Account', link: '/account'}, {title: 'Mi Panel'}]">
</app-page-title>

<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
  <div class="row">
    <div class="col-lg-4">
      <aside class="user-info-wrapper">
        <div class="user-cover" style="background-image: url(img/user-cover-img.jpg);">
        </div>
        <div class="user-info">
          <div *ngIf="user" class="user-data">
            <h4>{{ user.firstName }} {{ user.lastName }}</h4>
            <span>{{ user.email }} </span>
          </div>
        </div>
      </aside>
      <nav class="list-group">
        <a *ngIf="user && user.role === 'CLIENT'" class="list-group-item with-badge" routerLinkActive="active" routerLink="/account/client" href="">
          <i class="icon-bag"></i>Cotizaciones
        </a>

        <a *ngIf="user && user.role === 'CLIENT'" class="list-group-item" routerLinkActive="active" routerLink="/account/offer/client">
          <i class="icon-head"></i>Ofertas
        </a>

        <a *ngIf="user && user.role === 'CLIENT'" class="list-group-item" routerLinkActive="active" routerLink="/account/stats">
          <i class="icon-pie-graph"></i>Estadísticas
        </a>

        <a *ngIf="user && user.role === 'PROVIDER'" class="list-group-item" routerLinkActive="active" routerLink="/account/offer/provider">
          <i class="icon-head"></i>Mis Ofertas
        </a>

        <a *ngIf="user && user.role === 'PROVIDER'" class="list-group-item with-badge" routerLinkActive="active" routerLink="/account/provider" href="">
          <i class="icon-bag"></i>Cotizaciones Clientes
        </a>
      </nav>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

